@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --accent-clr: #e50914;
}

* {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  background-color: black;
}

.centre {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  left: 0vw;
  top: 10vmin;
  transform: translate(0%, 0%);
  font-family: "Bebas Neue", cursive;
  width: 100vw;
  text-align: center;
  font-size: 28vmin;
  color: var(--accent-clr);
  letter-spacing: 0.5rem;
}

h2 {
  position: absolute;
  left: 0vw;
  top: 38vmin;
  transform: translate(0%, 0%);
  width: 100vw;
  text-align: center;
  font-size: 9vmin;
  color: gainsboro;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0vw;
  top: 20vh;
  transform: translate(0%, 0%);
  width: 60vw;
  height: 10vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

label {
  width: 25vmin;
  text-align: center;
  font-size: 4vmin;
  color: gainsboro;
  background-color: var(--accent-clr);
  font-weight: 500;
  font-family: "Sora", sans-serif;
  border-radius: 0.7vmin;
  border: 1px solid var(--accent-clr);
  padding: 1vh 0vw;
  margin: 0vh 1vw;
}

label:active {
  background-color: transparent;
}

h4 {
  width: 25vmin;
  text-align: center;
  font-size: 4vmin;
  font-weight: 500;
  color: gainsboro;
  background-color: transparent;

  font-family: "Sora", sans-serif;
  border-radius: 0.7vmin;
  border: 1px solid white;
  padding: 1vh 0vw;
  margin: 0vh 1vw;
}

h4:active {
  background-color: white;
  color: black;
}

h5 {
  position: fixed;
  left: 50vw;
  bottom: 0vh;
  transform: translate(-50%, 0%);
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  color: white;
  background-color: transparent;
  text-align: center;
  border-radius: 0.5vmin;
  padding: 1vh 0vw;
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}
