@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --accent-clr: #e50914;
  --white: gainsboro;
}

* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none !important;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

#home {
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  animation-duration: 1s;
  animation-name: fade-in;
}

#home .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#home header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  height: 10rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#home h1 {
  font-size: 7rem;
  height: 7rem;
  color: var(--accent-clr);
}

#home h2 {
  font-size: 3rem;
  color: var(--white);
}

#home .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#home input[type="file"] {
  display: none;
}

#home .btn {
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Sora", sans-serif;
  border-radius: 0.1rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 0rem;
  margin: 0rem 0.75rem;
  color: var(--white);
}

#home .primary-btn {
  border-color: var(--accent-clr);
  background-color: var(--accent-clr);
}

#home .primary-btn:active {
  background-color: transparent;
}

#home .secondary-btn {
  border-color: var(--white);
  background-color: transparent;
  text-decoration: none;
  color: var(--white);
}

#home .secondary-btn:active {
  background-color: var(--white);
  color: black;
}

#home footer {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

#help {
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  animation-duration: 1s;
  animation-name: fade-in;
}

#help .flex-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 1;
}

#help header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  height: 8rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#help h1 {
  font-size: 6rem;
  height: 4.5rem;
  line-height: 5rem;
  color: var(--accent-clr);
}

#help h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white);
}

#help a,
#help .page-link {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: var(--accent-clr);
  text-decoration: underline;
}

#help .infoboxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#help .infobox {
  width: 90%;
  text-align: center;
}

#help .infobox > .title {
  position: relative;
  left: 50%;
  top: 0vh;
  transform: translate(-50%, 0%);
  background-color: var(--accent-clr);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: gainsboro;

  width: fit-content;

  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  padding: 0.5rem 1rem;
  z-index: 1;
}

#help .infobox > .item {
  position: relative;
  left: 50%;
  top: -1.2rem;
  transform: translate(-50%, 0%);

  background-color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gainsboro;

  border-radius: 0.1rem;
  border: 1px solid white;
  padding: 1.5rem 1rem 1rem 1rem;
  max-width: 20rem;
}

#help footer {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  text-align: center;
  padding: 0rem 1rem 0.5rem 1rem;
}

#data {
  background-color: black;
  overflow: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  animation-duration: 1s;
  animation-name: fade-in;
}

#data header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#data h1 {
  font-size: 6rem;
  color: var(--accent-clr);
}

#data h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white);
}

@media screen and (orientation: portrait) {
  #data header {
    flex-direction: column;
    height: 8rem;
    padding-top: 0.5rem;
  }

  #data h1 {
    height: 4.5rem;
    line-height: 5rem;
  }
}

@media screen and (orientation: landscape) {
  #data header {
    flex-direction: row;
    height: 4.5rem;
    line-height: 5rem;
    padding-top: 0.5rem;
  }

  #data h1 {
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
}

#shows-list {
  width: 90%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--white);
  border-left: 0px;
  border-right: 0px;
}

#shows-list > .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: var(--white);
  width: 90%;
  padding: 0.2rem 0rem;
}

#shows-list > .item > * {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

#shows-list > .item > .name {
  text-align: left;
}

#shows-list > .item > .value {
  text-align: right;
  padding-left: 1rem;
}

#shows-list > .item:nth-child(odd) > * {
  color: var(--accent-clr);
}

#data p {
  color: white;
  font-family: "Sora", sans-serif;
  text-align: center;
}

#data .row > * {
  color: white;
  font-family: "Sora", sans-serif;
  text-align: center;
  width: max-content;
  margin: 0rem 1rem;
  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  background-color: var(--accent-clr);
  padding: 0.5rem 1.5rem;
  opacity: 0.2;
}

#data .row > .middle {
  border-color: var(--white);
  background-color: transparent;
  opacity: 1;
}

#data .option-box {
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Sora", sans-serif;
  margin: 0.5rem 0rem;
}

#data .option-boxes {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (orientation: portrait) {
  #data .option-boxes {
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  #data .option-boxes {
    flex-direction: row;
  }
}

#data .option-box > .title,
#data .option-box > a > .title {
  padding-right: 1rem;
  border: 1px solid var(--white);
  background-color: transparent;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
  padding: 0.5rem 0.8rem;
  width: 4rem;
}

#data .option-box > a {
  text-decoration: none;
  color: white;
}

#data .option-box > .item {
  color: black;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  border-left-width: 0px;
  padding: 0.5rem 1rem;
  width: 7rem;
}

#data .option-box > .order {
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 0.1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 0.2rem;
}

@media screen and (orientation: portrait) {
  #data .option-box > .order-offset {
    color: black;
    border: 1px solid black;
    border-radius: 0.1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 0.2rem;
  }
}

@media screen and (orientation: landscape) {
  #data .option-box > .order-offset {
    display: none;
  }

  #view-state {
    margin-right: 0.5rem;
  }
}

#data .option-box.red > .item {
  background-color: var(--accent-clr);
  border-color: var(--accent-clr);
}

#data .option-box.red > .title {
  border-color: var(--accent-clr);
}

#data .option-box.red > .item:active {
  background-color: transparent;
  color: var(--white);
}

#data .option-box > .item:active {
  background-color: transparent;
  color: var(--white);
}

#data .option-box > .order:active {
  background-color: var(--white);
  color: black;
}

#data footer {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

#show {
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  animation-duration: 1s;
  animation-name: fade-in;
}

#show header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  height: 8rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#show h1 {
  font-size: 6rem;
  height: 4.5rem;
  line-height: 5rem;
  color: var(--accent-clr);
}

#show h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white);
}

#show footer {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

#show .flex-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  width: 100%;
}

#show .stat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  border: 1px solid var(--white);
  border-radius: 0.1rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.5rem 0.2rem;
}

#show .name {
  font-family: "Sora", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-clr);

  padding-bottom: 0.5rem;
}

#show .stat {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.25rem 0rem;
  color: var(--white);
}

#show .stat-name {
  text-align: left;
}

#show .stat-value {
  text-align: right;
}

#show .stat:nth-child(even) {
  color: var(--accent-clr);
}

#show .icon-row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  width: 100%;
  padding: 0.25rem 0rem 0.25rem 0rem;
}

#show .icon {
  --length: 2.5rem;
  width: var(--length);
  height: var(--length);
}

#show .infoboxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#show .infobox {
  width: 90%;
  text-align: center;
}

#show .infobox > .title {
  position: relative;
  left: 50%;
  top: 0vh;
  transform: translate(-50%, 0%);
  background-color: var(--accent-clr);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: gainsboro;

  width: fit-content;
  max-width: 80%;

  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  padding: 0.5rem 1rem;
  z-index: 1;
}

#show .infobox > .item {
  position: relative;
  left: 50%;
  top: -1.2rem;
  transform: translate(-50%, 0%);

  background-color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gainsboro;

  border-radius: 0.1rem;
  border: 1px solid white;
  padding: 1.5rem 1rem 1rem 1rem;
  max-width: 20rem;
}

#show .return-button {
  background-color: var(--accent-clr);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: gainsboro;

  width: fit-content;

  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  padding: 0.5rem 1rem;
  z-index: 1;
}

#save {
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  animation-duration: 1s;
  animation-name: fade-in;
}

#save header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  height: 8rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#save h1 {
  font-size: 6rem;
  height: 4.5rem;
  line-height: 5rem;
  color: var(--accent-clr);
}

#save h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white);
}

#save footer {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

#save .flex-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  width: 100%;
}

#save .stat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  border: 1px solid var(--white);
  border-radius: 0.1rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.5rem 0.2rem;
}

#save .name {
  font-family: "Sora", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-clr);

  padding-bottom: 0.5rem;
}

#save .stat {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.25rem 0rem;
  color: var(--white);
}

#save .stat-name {
  text-align: left;
}

#save .stat-value {
  text-align: right;
}

#save .stat:nth-child(even) {
  color: var(--accent-clr);
}

#save .icon-row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  width: 100%;
  padding: 0.25rem 0rem 0.25rem 0rem;
}

#save .icon {
  --length: 2.5rem;
  width: var(--length);
  height: var(--length);
}

#save .infoboxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#save .infobox {
  width: 90%;
  text-align: center;
}

#save .infobox > .title {
  position: relative;
  left: 50%;
  top: 0vh;
  transform: translate(-50%, 0%);
  background-color: var(--accent-clr);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: gainsboro;

  width: fit-content;
  max-width: 80%;

  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  padding: 0.5rem 1rem;
  z-index: 1;
}

#save .infobox > .item {
  position: relative;
  left: 50%;
  top: -1.2rem;
  transform: translate(-50%, 0%);

  background-color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gainsboro;

  border-radius: 0.1rem;
  border: 1px solid white;
  padding: 1.5rem 1rem 1rem 1rem;
  max-width: 20rem;
}

#save .return-button {
  background-color: var(--accent-clr);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: gainsboro;

  width: fit-content;

  border-radius: 0.1rem;
  border: 1px solid var(--accent-clr);
  padding: 0.5rem 1rem;
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
